@layer base {
  @variants responsive {
    .footer-grid-mobile {
      grid-template-columns: auto;
      grid-template-rows: 4.9rem auto auto auto auto 4.7rem;
      grid-template-areas:
        " . "
        "ImageBlock"
        "SubtitleBlock"
        "LinksBlock"
        "SocialBlock"
        "CopyrightBlock"
        " . ";
    }
    .footer-grid-tablet {
      grid-template-columns: 6.9rem 26rem auto 16.8rem 6.9rem;
      grid-template-rows: 4.8rem 7.6rem auto 5rem auto;
      grid-template-areas:
        " . . . . ."
        " . ImageBlock LinksBlock AddressBlock ."
        " . SubtitleBlock LinksBlock SocialBlock ."
        " . . . . ."
        ". CopyrightBlock CopyrightBlock CopyrightBlock .";
    }
    .footer-grid-web {
      grid-template-columns: 4.7rem 45rem auto 16.8rem 9.2rem 4.7rem;
      grid-template-rows: 4.6rem 7.5rem auto 5rem auto;
      grid-template-areas:
        " . . . . . ."
        " . ImageBlock LinksBlock AddressBlock . ."
        " . SubtitleBlock LinksBlock SocialBlock . ."
        " . . . . . ."
        ". CopyrightBlock CopyrightBlock CopyrightBlock CopyrightBlock .";
    }
    .footer-grid-webhd {
      grid-template-columns: 9.3rem 46rem auto 16.8rem 14.2rem 9.3rem;
      grid-template-rows: 9.8rem 7.5rem auto 5rem auto;
      grid-template-areas:
        " . . . . . ."
        " . ImageBlock LinksBlock AddressBlock . ."
        " . SubtitleBlock LinksBlock SocialBlock . ."
        " . . . . . ."
        ". CopyrightBlock CopyrightBlock CopyrightBlock CopyrightBlock .";
    }
    .footer-image-area {
      grid-area: ImageBlock;
    }
    .subtitle-block-area {
      grid-area: SubtitleBlock;
    }
    .links-block-area {
      grid-area: LinksBlock;
    }
    .social-block-area {
      grid-area: SocialBlock;
    }
    .copyright-block-area {
      grid-area: CopyrightBlock;
    }
    .address-block-area {
      grid-area: AddressBlock;
    }
  }
}
