@layer base {
  @variants responsive {
    .signup-grid-mobile {
      grid-template-columns: auto;
      grid-template-areas:
        "TitleBlock"
        "AnswerBlock1"
        "AnswerBlock2"
        "AnswerBlock3";
    }
    .signup-grid-tablet {
      grid-template-columns: 67.2rem;
      grid-template-areas:
        "TitleBlock"
        "AnswerBlock1"
        "AnswerBlock2"
        "AnswerBlock3";
    }
    .signup-grid-web {
      grid-template-columns: 35.2rem 36.8rem 35.2rem;
      grid-template-areas:
        "TitleBlock TitleBlock TitleBlock"
        "AnswerBlock1 AnswerBlock2 AnswerBlock3";
    }
    .signup-grid-HD {
      grid-template-columns: 53.6rem 55.2rem 53.6rem;
      grid-template-areas:
        "TitleBlock TitleBlock TitleBlock"
        "AnswerBlock1 AnswerBlock2 AnswerBlock3";
    }
    .title-block-area {
      grid-area: TitleBlock;
    }
    .answer-block-area1 {
      grid-area: AnswerBlock1;
    }
    .answer-block-area2 {
      grid-area: AnswerBlock2;
    }
    .answer-block-area3 {
      grid-area: AnswerBlock3;
    }
  }
}
