@layer base {
  @variants responsive {
    .location-grid-mobile {
      grid-template-columns: 31.8rem;
      grid-template-areas:
        "LocationContacts"
        "LocationMap";
    }
    .location-grid-tablet {
      grid-template-columns: 3.6rem minmax(52.8rem, 67.2rem) 3.6rem;
      grid-template-areas:
        ". LocationContacts ."
        ". LocationMap .";
    }
    .location-grid-desc {
      grid-template-columns: 44.4rem 10.8rem 53.6rem;
      grid-template-areas:
        "LocationContacts . LocationMap"
        "LocationContacts . LocationMap";
    }
    .location-grid-hd {
      grid-template-columns: minmax(6rem, 14rem) 53.6rem auto 79.6rem minmax(7.6rem, 15.6rem);
      grid-template-areas:
        " . LocationContacts . LocationMap . "
        " . LocationContacts . LocationMap . ";
    }
    .location-contacts-area {
      grid-area: LocationContacts;
    }
    .location-map-area {
      grid-area: LocationMap;
    }
  }
}
