.small-tile-title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ribbon-wrapper {
  @apply w-full absolute left-0px right-0px bg-mild-black flex items-center justify-center;
  top: 50%;
  height: 35px;
}

@media screen and (max-width: 768px) {
  .ribbon-wrapper {
    height: 30px;
    top: 50%;
  }
}

@media screen and (min-width: 834px) {
  .small-tile-title {
    -webkit-line-clamp: 2;
  }
}

.ribbon {
  z-index: 100;
}
