.small-tile-title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 834px) {
  .small-tile-title {
    -webkit-line-clamp: 2;
  }
}
