.modal-search-results {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: calc(100vw - 20px);
  max-height: 500px;
  border-radius: 15px;
  background-color: #ffffff;
  overflow: hidden;
  padding-top: 36px;
  padding-bottom: 59px;
  padding-left: 25px;
  padding-right: 25px;
  box-shadow: 0px 18px 40px -12px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 769px) {
  .modal-search-results {
    padding-left: 41px;
    max-width: 797px;
    max-height: 600px;
  }
}

.modal-search-results:focus {
  outline: none;
}

.modal-search-results-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 90;
  border-radius: 15px;
  backdrop-filter: blur(5px);
  filter: drop-shadow(0px 18px 40px rgba(0, 0, 0, 0.15));
}

@-moz-document url-prefix() {
  .modal-search-results-overlay {
    background: rgba(0, 0, 0, 0.4);
  }
}

.modal-search-results-dropdown {
  max-height: 360px;
  overflow-y: scroll;
  padding-right: 25px;
  background-color: #ffffff;
}
@media screen and (min-width: 769px) {
  .modal-search-results-dropdown {
    max-height: 446px;
  }
}

.modal-search-results-item {
  padding-bottom: 20px;
}

.modal-search-results-item:hover {
  cursor: pointer;
  background-color: #dfe2e5;
}

.item-line {
  max-width: 683px;
  height: 1px;
  margin-bottom: 20px;
  background: #fbfbfb;
  box-shadow: inset 2px 0px 5px #e5e5e5;
  border: none;
}

.modal-search-image {
  width: 44px;
  height: 32px;
  float: left;
  margin-right: 15px;
  padding-top: 8px;
}
@media screen and (min-width: 769px) {
  .modal-search-image {
    margin-right: 64px;
    padding-left: 20px;
  }
}

.modal-search-results-dropdown::-webkit-scrollbar {
  width: 22px;
}

.modal-search-results-dropdown::-webkit-scrollbar-track {
  background: radial-gradient(50% 50% at 50% 50%, #ffeeee 0%, rgba(255, 238, 238, 0) 50.52%, #ffeeee 99.48%);
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 50px;
}

.modal-search-results-dropdown::-webkit-scrollbar-thumb {
  background: #e5e5e5;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 50px;
  width: 22px;
}
