@layer base {
  @variants responsive {
    .area-heading-text {
      grid-area: HeadingText;
    }
    .area-heading-link {
      grid-area: HeadingLink;
    }

    .heading-grid-right-mobile {
      grid-template-areas: "HeadingText HeadingLink";
      grid-template-columns: auto 118px;
    }
    .heading-grid-right-tablet {
      grid-template-columns: auto 161px;
    }
    .heading-grid-right-web {
      grid-template-columns: auto 225px;
    }

    .heading-grid-left-mobile {
      grid-template-areas: "HeadingText HeadingLink";
      grid-template-columns: auto 164px;
    }
    .heading-grid-left-tablet {
      grid-template-columns: auto 127px;
    }
    .heading-grid-left-web {
      grid-template-columns: auto 152px;
    }
    .heading-grid-left-webhd {
      grid-template-columns: auto 226px;
    }

    .arrow-shadow {
      filter: drop-shadow(2px 2px 10px rgb(255 255 255 / 75%));
    }
  }
}
