@layer base {
  @variants responsive {
    .typography-h1 {
      @apply  font-light not-italic text-h1;
    }
    .typography-h2 {
      @apply  font-medium not-italic text-h2;
    }
    .typography-h3 {
      @apply  font-normal not-italic text-h3;
    }

    .typography-h4 {
      @apply  font-bold not-italic text-h4;
    }
    .typography-body {
      @apply  font-normal not-italic text-body;
    }
    .typography-footer {
      @apply  font-normal not-italic text-footer;
    }
    .typography-poppins {
      @apply  font-light not-italic;
    }
    .typography-titillium {
      @apply  font-normal not-italic;
    }
    .typography-work-sans {
      @apply  font-normal not-italic;
    }

    /* custom fonts */
    .typography-learn-more {
      @apply  font-normal not-italic text-h4;
    }
    .typography-stats {
      @apply  font-light not-italic text-stats;
    }
    .typography-paginator {
      @apply  font-normal not-italic text-h4;
    }
    .typography-ourApproachSmall {
      @apply  font-normal not-italic text-ourApproachSmall;
    }
    .typography-ourApproachWeb {
      @apply  font-normal not-italic text-ourApproachWeb;
    }
    .typography-ourApproachWebhd {
      @apply  font-normal not-italic text-ourApproachWebhd;
    }

    /* markdown or rich text styles */
    .markdown-or-rich-text p {
      @apply markdown-or-rich-text-paragraph typography-body;
    }
    .markdown-or-rich-text-paragraph {
      margin-block-end: 1.25em;
    }

    .markdown-or-rich-text h1 {
      @apply mt-20px mb-22px typography-h1;
    }
    .markdown-or-rich-text h2 {
      @apply mt-20px mb-22px typography-h2;
    }
    .markdown-or-rich-text h3 {
      @apply mt-20px mb-22px typography-h3;
    }
    .markdown-or-rich-text h4 {
      @apply mt-20px mb-22px typography-h4;
    }

    .modal-text p {
      @apply modal-text-paragraph typography-body;
    }
    .modal-text-paragraph {
      margin-block-end: 0;
    }
    .modal-text h1 {
      @apply mt-15px mb-5px typography-h1;
    }
    .modal-text h2 {
      @apply mt-15px mb-5px typography-h2;
    }
    .modal-text h3 {
      @apply mt-15px mb-5px typography-h3;
    }
    .modal-text h4 {
      @apply mt-15px mb-5px typography-h4;
    }

    @media screen and (max-width: 833px) {
      .markdown-or-rich-text ul {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 95px;
      }
      .markdown-or-rich-text ol {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 97px;
      }
    }
    @media screen and (min-width: 834px) {
      .markdown-or-rich-text ul {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 100px;
      }
      .markdown-or-rich-text ol {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 97px;
      }
    }
    @media screen and (min-width: 1366px) {
      .markdown-or-rich-text ul {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 105px;
      }
      .markdown-or-rich-text ol {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 110px;
      }
    }
    @media screen and (min-width: 1920px) {
      .markdown-or-rich-text ul {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 105px;
      }
      .markdown-or-rich-text ol {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 110px;
      }
    }
    .markdown-or-rich-text ul {
      list-style: disc;
    }
    .markdown-or-rich-text ol {
      list-style: decimal;
    }
    .markdown-or-rich-text li p {
      margin-bottom: 5px;
    }
    .markdown-or-rich-text li::marker {
      color: #6f8794;
      font-size: 1.6rem;
    }

    /* custom styling for markdown or rich text editor */
    .markdown-text-paragraph p:first-child {
      margin-block-start: 0;
    }
    .markdown-text-paragraph p {
      margin-block-start: 1em;
    }
  }
}
