@layer base {
  @variants responsive {
    .area-mp-title {
      grid-area: MPTitle;
    }

    .area-mp-main-text {
      grid-area: MPMainText;
    }

    .area-mp-secondary-text {
      grid-area: MPSecondaryText;
    }

    .area-mp-partner-image {
      grid-area: MPPartnerImage;
    }

    .mp-grid-mobile {
      grid-template-areas:
        "MPTitle"
        "MPMainText"
        "MPSecondaryText"
        "MPPartnerImage";
    }

    .mp-grid-web {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-template-areas:
        "MPTitle MPTitle"
        "MPPartnerImage MPMainText"
        "MPPartnerImage MPSecondaryText"
        "MPPartnerImage ."
        ". .";
    }
  }
}
