@layer base {
  .view-all {
    @apply absolute right-24px rounded-5px -top-25px text-white border-2 border-minty-green font-black w-full flex justify-between py-12px px-31px items-center;
  }
  .title {
    @apply leading-35px text-white font-normal border-b md+:border-b-0 border-dark-orange pb-20px md+:pb-0px mb-20px md+:mb-0px;
  }
  @variants responsive {
    .view-by-links-grid {
      display: grid;
      grid-template-columns: minmax(auto, 310px) auto;
      column-gap: 18px;
    }
    .view-by-links-mobile {
      overflow: hidden;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch; /* Important for iOS devices */
    }

    .view-by-links-desktop {
      overflow-x: hidden;
      scroll-snap-type: none;
      -webkit-overflow-scrolling: auto; /* Important for iOS devices */
    }

    .list {
      @apply flex flex-wrap w-full items-center;
    }

    .view-by-links-item {
      @apply mb-30px relative;
    }

    .view-by-links-items-desktop {
      width: 25%;
    }

    .view-by-links-items-mobile {
      width: 50%;
    }

    .view-all-li + li {
      margin-bottom: 0;
    }
  }
}
