@layer base {
  .view-all {
    @apply text-white border-2 border-white font-semibold w-full flex justify-between p-5px items-center;
  }
  @variants responsive {
    .view-by-links-grid {
      display: grid;
      grid-template-columns: minmax(auto, 310px) auto;
      column-gap: 18px;
    }
    .view-by-links-mobile {
      overflow: hidden;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch; /* Important for iOS devices */
    }

    .view-by-links-desktop {
      overflow-x: hidden;
      scroll-snap-type: none;
      -webkit-overflow-scrolling: auto; /* Important for iOS devices */
    }

    .list {
      @apply flex flex-wrap w-full items-center;
    }

    .view-by-links-item {
      margin-bottom: 20px;
    }

    .view-by-links-items-desktop {
      width: 25%;
    }

    .view-by-links-items-mobile {
      width: 50%;
    }

    .view-all-li + li {
      margin-bottom: 0;
    }
  }
}
