@layer utilities {
  @variants responsive {
    .advantages-of-crm-mobile-tiles-grid {
      grid-template-columns: 318px;
      grid-template-areas:
        "AdvantagesOfCRMTile1"
        "AdvantagesOfCRMTile2"
        "AdvantagesOfCRMTile3"
        "AdvantagesOfCRMTile4"
        "AdvantagesOfCRMTile5"
        "AdvantagesOfCRMTile6";
    }

    .advantages-of-crm-tablet-tiles-grid {
      grid-template-columns: repeat(2, 344px);
      grid-template-areas:
        "AdvantagesOfCRMTile1 AdvantagesOfCRMTile2"
        "AdvantagesOfCRMTile3 AdvantagesOfCRMTile4"
        "AdvantagesOfCRMTile5 AdvantagesOfCRMTile6";
    }

    .advantages-of-crm-desktop-tiles-grid {
      grid-template-columns: repeat(3, 370px);
      grid-template-areas:
        "AdvantagesOfCRMTile1 AdvantagesOfCRMTile2 AdvantagesOfCRMTile3"
        "AdvantagesOfCRMTile4 AdvantagesOfCRMTile5 AdvantagesOfCRMTile6";
    }

    .advantages-of-crm-desktop-hd-tiles-grid {
      grid-template-columns: repeat(3, 554px);
      grid-template-areas:
        "AdvantagesOfCRMTile1 AdvantagesOfCRMTile2 AdvantagesOfCRMTile3"
        "AdvantagesOfCRMTile4 AdvantagesOfCRMTile5 AdvantagesOfCRMTile6";
    }

    .advantages-of-crm-tile-1-area {
      grid-area: AdvantagesOfCRMTile1;
    }

    .advantages-of-crm-tile-2-area {
      grid-area: AdvantagesOfCRMTile2;
    }

    .advantages-of-crm-tile-3-area {
      grid-area: AdvantagesOfCRMTile3;
    }

    .advantages-of-crm-tile-4-area {
      grid-area: AdvantagesOfCRMTile4;
    }

    .advantages-of-crm-tile-5-area {
      grid-area: AdvantagesOfCRMTile5;
    }

    .advantages-of-crm-tile-6-area {
      grid-area: AdvantagesOfCRMTile6;
    }
  }
}
