.slider-container {
  width: 120px !important;
  height: 80px;
}

.slider-wrapper .slick-slide {
  width: 120px !important;
}

.slider-wrapper .slick-track {
  @apply space-x-16px h-80px;
}

.slider-wrapper .slick-list {
  width: 100% !important;
}
