.small-tile-prev-arrow {
  position: absolute;
  top: 50%;
  left: -65px;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.small-tile-next-arrow {
  position: absolute;
  top: 50%;
  right: -65px;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
