.modal-video {
  position: relative;
  top: 129px;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 1100px;
  max-height: 620px;
  border-radius: 15px;
  margin: 0 auto;
}

.reduce-height-modal-video {
  position: relative;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  max-width: 924px;
  max-height: 520px;
  border-radius: 15px;
  margin: 0 auto;
}

.reduce-height-modal-video:focus {
  outline: none;
}

/* styles for modal-video with contact us section */
.modal-video-with-contact-us {
  position: relative;
  top: 160px;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 1126px;
  max-height: calc(100% - 221px);
  border-radius: 15px;
  margin: 0 auto;
}

.modal-video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 90;
  padding-right: 20px;
  padding-left: 20px;
  backdrop-filter: blur(5px);
  filter: drop-shadow(0px 18px 40px rgba(0, 0, 0, 0.3));
}

@-moz-document url-prefix() {
  .modal-video-overlay {
    background: rgba(0, 0, 0, 0.4);
  }
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #af0000;
  width: 50px;
  height: 50px;
  border-top-right-radius: 15px;
  z-index: 91;
}

.close-button:before {
  content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNCAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE0IDEuNDFMMTIuNTkgMEw3IDUuNTlMMS40MSAwTDAgMS40MUw1LjU5IDdMMCAxMi41OUwxLjQxIDE0TDcgOC40MUwxMi41OSAxNEwxNCAxMi41OUw4LjQxIDdMMTQgMS40MVoiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPg==");
  position: absolute;
  width: 14px;
  height: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 93;
}

.modal-video-container {
  padding-bottom: 56.25%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 15px;
  background-color: white;
  @apply relative h-0px overflow-hidden;
}

.modal-video-iframe {
  max-width: 1100px;
  max-height: 620px;
  @apply absolute top-0px left-0px w-full h-full;
}

.reduce-height-modal-video-iframe {
  max-width: 924px;
  max-height: 520px;
  @apply absolute top-0px left-0px w-full h-full;
}

/* styles for modal-video with contact us section */
.modal-video-iframe-with-contact-us {
  max-width: 1126px;
  max-height: calc(100% - 221px);
  border-radius: 15px;
  @apply absolute top-0px left-0px w-full h-full;
}
