.header-hero-section {
  height: 407px;
}

@media screen and (min-width: 700px) {
  .header-hero-section {
    height: 550px;
  }
}

@media screen and (min-width: 834px) {
  .header-hero-section {
    height: calc(100vh - 205px);
  }
}

.header-white-section {
  height: 100%;
  border-bottom: 0 solid white;
  border-left: 0 solid transparent;
  border-right: 260px solid transparent;
  border-top: 100vh solid white;
}

@media screen and (min-width: 834px) {
  .hero-title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.hero-image {
  width: 542px;
}

.save-button-shadow {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
}

.prev {
  position: absolute;
  top: 50%;
  left: 25px;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.1);
}

.next {
  position: absolute;
  top: 50%;
  right: 25px;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.1);
}

@media (max-width: 833px) {
  .hero-image {
    width: 100vw;
  }
}
