.drop-down-grid {
  display: none;
}
@media screen and (min-width: 834px) {
  .drop-down-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 105px));
    column-gap: 40px;
  }
}

@media screen and (min-width: 1100px) {
  .drop-down-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 155px));
    column-gap: 40px;
  }
}

thead {
  border-bottom: 1px solid #363636;
  margin-bottom: 16px;
}

.divider {
  border-bottom: 1px solid #363636;
  height: 16px;
  width: 100%;
}

.table-head th {
  @apply pb-0px md:pb-16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 834px) {
  .table-head th {
    padding-top: 16px;
  }
}

.table-head-item {
  width: 200px;
  text-align: start;
  font-size: 16px;
}

.table-info {
  width: 100%;
}
@media screen and (min-width: 834px) {
  .table-info {
    padding-left: 2px;
  }
}

.table-info:nth-child(odd) {
  @apply bg-white-pink;
}

.table-info:nth-child(even) button {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
}

.floor-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 8px;
}

.table-data {
  width: calc(100vw - 146px);
}

.table-filters {
  width: 100%;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
}

.floor-plans-dropdown-shadow {
  box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.1);
}

.floor-plans-dropdown-sort-shadow {
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);
}
