@layer base {
  @variants responsive {
    .how-crm-helps-grid-mobile {
      max-width: 50rem;
      grid-template-areas:
        "HowCRMHelpsTitle"
        "HowCRMHelpsImage"
        "HowCRMHelpsText";
    }
    .how-crm-helps-grid-tablet {
      grid-template-columns: 25.8rem 41.4rem;
      max-width: none;
      grid-template-areas:
        "HowCRMHelpsTitle HowCRMHelpsTitle"
        "HowCRMHelpsImage HowCRMHelpsText";
    }
    .how-crm-helps-grid-web {
      grid-template-columns: 55.2rem 53.6rem;
    }

    /* .signup-grid-HD {
      grid-template-columns: 53.6rem 55.2rem 53.6rem;
      grid-template-areas:
        "TitleBlock TitleBlock TitleBlock"
        "AnswerBlock1 AnswerBlock2 AnswerBlock3";
    } */
    .area-how-crm-helps-title {
      grid-area: HowCRMHelpsTitle;
    }
    .area-how-crm-helps-image {
      grid-area: HowCRMHelpsImage;
    }
    .area-how-crm-helps-text {
      grid-area: HowCRMHelpsText;
    }
  }
}
