.large-tile-text-cut {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 1366px) {
  .large-tile-text-cut {
    -webkit-line-clamp: 5; /* number of lines to show */
  }
}
