@layer base {
  @variants responsive {
    .amenities-list {
      display: grid;
      grid-template-columns: repeat(3, minmax(auto, 1fr));
      column-gap: 36px;
    }
  }
}

@media screen and (max-width: 500px) {
  .amenity-list-item:last-child {
    padding-bottom: 0px !important;
  }
}
