@layer utilities {
  @variants responsive {
    .button-shadow {
      box-shadow: 5px 5px 10px 0px #00000026;
    }

    .button-link {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      text-decoration: none;
    }
  }
}
