@layer utilities {
  @variants responsive {
    .testimonials-tablet-grid {
      grid-template-columns: minmax(31px, 1fr) 4rem 1.6rem auto 1.6rem 4rem minmax(31px, 1fr);
      grid-template-rows: 5.9rem auto 7.5rem 10rem;
      grid-template-areas:
        ". . . TestimonialsHeader . . ."
        ". TestimonialsLeftQuote . TestimonialsSlide . TestimonialsRightQuote ."
        ". . . TestimonialsSliderDots . . ."
        ". . . . . . .";
    }
    .testimonials-tablet-bigger-grid {
      grid-template-columns: minmax(81px, 1fr) 4rem 1.6rem auto 1.6rem 4rem minmax(81px, 1fr);
    }
    .testimonials-desktop-grid {
      grid-template-columns: 1fr 35.2rem 5.7rem 3.5rem 5.2rem 4rem 1.6rem 44.4rem 1.6rem 4rem 3.6rem 1fr;
      grid-template-rows: 19.8rem auto;
      grid-template-areas:
        ". TestimonialsImage . TestimonialsSliderDots . . . TestimonialsHeader . . . ."
        ". TestimonialsImage . TestimonialsSliderDots . TestimonialsLeftQuote . TestimonialsSlide . TestimonialsRightQuote . .";
    }

    .testimonials-hd-grid {
      grid-template-columns: 1fr 53.6rem 10rem 3.5rem 7.8rem 6.1rem 1.6rem 67.4rem 1.6rem 6.1rem 6rem 1fr;
      grid-template-rows: 37rem auto;
      grid-template-areas:
        ". TestimonialsImage  . TestimonialsSliderDots . . . TestimonialsHeader . . . ."
        ". TestimonialsImage . TestimonialsSliderDots . TestimonialsLeftQuote . TestimonialsSlide . TestimonialsRightQuote . .";
    }

    .testimonials-slider-slick {
      display: grid;
    }

    .testimonials-image-area {
      grid-area: TestimonialsImage;
    }

    .testimonials-left-quote-area {
      grid-area: TestimonialsLeftQuote;
    }

    .testimonials-right-quote-area {
      grid-area: TestimonialsRightQuote;
    }

    .testimonials-slide-area {
      grid-area: TestimonialsSlide;
    }

    .testimonials-header-area {
      grid-area: TestimonialsHeader;
    }

    .testimonials-slider-dots-area {
      grid-area: TestimonialsSliderDots;
    }

    .testimonials-slider-dots {
      z-index: 10;
    }

    .testimonials-slider-dots button {
      box-sizing: border-box;
      border-radius: 100%;
      border: 1px solid #1a1a40;
      text-align: center;
      background-color: #ffffff;
    }

    .testimonials-slider-dots button.slick-active {
      background-color: #1a1a40;
      border: 2px solid #ffffff;
      box-shadow: 0 0 0px 1px #1a1a40;
    }
  }
}
