.prev-arrow {
  position: absolute;
  top: 50%;
  left: -70px;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.1);
}

.next-arrow {
  position: absolute;
  top: 50%;
  right: -70px;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.1);
}

.title-section {
  top: 50%;
  transform: translateY(-50%);
}
.bg-dark-orange-85 {
  background-color: rgba(172, 153, 134, 0.7);
}
