@layer base {
  @variants responsive {
    .area-what-is-crm-title-1 {
      grid-area: WhatIsCRMTitle1;
    }
    .area-what-is-crm-text-1 {
      grid-area: WhatIsCRMText1;
    }
    .area-what-is-crm-title-2 {
      grid-area: WhatIsCRMTitle2;
    }
    .area-what-is-crm-text-2 {
      grid-area: WhatIsCRMText2;
    }

    .what-is-crm-grid-mobile {
      max-width: 50rem;
      grid-template-areas:
        "WhatIsCRMTitle1"
        "WhatIsCRMText1"
        "WhatIsCRMTitle2"
        "WhatIsCRMText2";
    }
    .what-is-crm-grid-tablet {
      max-width: 67.2rem;
    }
    .what-is-crm-grid-web {
      max-width: none;
      grid-template-columns: 55.2rem 53.6rem;
      grid-template-rows: 31.9rem 0.2rem;
      grid-template-areas:
        "WhatIsCRMTitle1 WhatIsCRMText1"
        "WhatIsCRMTitle2 WhatIsCRMText2";
    }
    .what-is-crm-grid-webhd {
      grid-template-columns: 82.8rem 81.2rem;
      grid-template-rows: 29rem 0.2rem;
      grid-template-areas:
        "WhatIsCRMTitle1 WhatIsCRMText1"
        "WhatIsCRMTitle2 WhatIsCRMText2";
    }
  }
}
