.home-header-white-section {
  height: 100%;
  width: 800px;
  border-bottom: 0 solid #202020;
  border-left: 0 solid transparent;
  border-right: 370px solid transparent;
  border-top: 100vh solid #202020;
}

.home-hero-image {
  width: calc(100vw - 400px);
}

.home-hero-title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}



@media (max-width: 833px) {
  .home-hero-image {
    width: 100vh;
  }
  .home-hero-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .home-hero-links {
    width: 250px;
    left: 50%;
    transform: translateX(-50%);
  } 
}

