.contact-sales-footer {
  box-shadow: 0px -18px 40px -12px rgba(0, 0, 0, 0.15);
  z-index: 100;
}

.contact-sales-footer-grid {
  display: grid;
  align-items: center;
  grid-template-columns:
    minmax(auto, 197px)
    minmax(auto, 71px)
    minmax(auto, 300px)
    minmax(auto, 15px)
    minmax(auto, 300px)
    minmax(25px, auto)
    251px;
  grid-template-areas: "Title . Name . Email . Button";
}

.gridTitleArea {
  grid-area: Title;
}

.gridNameArea {
  grid-area: Name;
}

.gridEmailArea {
  grid-area: Email;
}

.gridButtonArea {
  grid-area: Button;
}
