@layer utilities {
  @variants responsive {
    .paginator-grid {
      grid-template-columns: 4.9rem 1fr auto 1fr 4.9rem;
      grid-template-areas: "ArrayLeft . ButtonPaginator. ArrayRight";
    }
    .array-left {
      grid-area: ArrayLeft;
    }
    .array-right {
      grid-area: ArrayRight;
    }
    .button-paginator {
      grid-area: ButtonPaginator;
    }
  }
}
