@layer base {
  @variants responsive {
    .blog-grid-mobile {
      grid-template-columns: auto;
      grid-template-rows: auto 2.7rem auto 2.7rem auto 2.7rem auto;
      grid-template-areas:
        "BlogArea1"
        "."
        "BlogArea2"
        "."
        "BlogArea3"
        "."
        "BlogArea4"
        "BlogPaginator";
    }
    .blog-grid-tablet {
      grid-template-columns: auto 0.8rem auto;
      grid-template-rows: auto 2.7rem auto auto;
      grid-template-areas:
        "BlogArea1 . BlogArea2"
        ". . ."
        "BlogArea3 . BlogArea4"
        "BlogPaginator BlogPaginator BlogPaginator";
    }
    .blog-grid-webhd {
      grid-template-columns: auto 1.6rem auto;
      grid-template-rows: auto 5rem auto auto;
      grid-template-areas:
        "BlogArea1 . BlogArea2"
        " . . . "
        "BlogArea3 . BlogArea4"
        "BlogPaginator BlogPaginator BlogPaginator";
    }
    .blog-area-1 {
      grid-area: BlogArea1;
    }
    .blog-area-2 {
      grid-area: BlogArea2;
    }
    .blog-area-3 {
      grid-area: BlogArea3;
    }
    .blog-area-4 {
      grid-area: BlogArea4;
    }
    .blog-paginator {
      grid-area: BlogPaginator;
    }
  }
}
