@layer base {
  @variants responsive {
    .fa-grid-mobile {
      grid-template-columns: 31.8rem;
      grid-template-areas:
        "Heading"
        "Subtitle"
        "Image"
        "Stats"
        "Border"
        "DiagramPie"
        "ContentPie"
        "Tile1"
        "Tile2";
    }

    .fa-grid-tablet {
      grid-template-columns: 33.6rem 33.6rem;
      grid-template-areas:
        "Heading Heading"
        "Subtitle Subtitle"
        "Image Stats"
        "Border Border"
        "DiagramPie DiagramPie"
        "ContentPie ContentPie"
        "Tile1 Tile2";
    }

    .fa-grid-web-small {
      grid-template-columns: 27.6rem 26.8rem 36rem 18.4rem;
      grid-template-areas:
        "Heading Heading Heading Heading"
        "Subtitle Subtitle Image Stats"
        "Border Border Border Border"
        "ContentPie ContentPie DiagramPie DiagramPie"
        "Tile1 Tile2 DiagramPie DiagramPie";
    }

    .fa-grid-web {
      grid-template-columns: 40.6rem 40.6rem 55.2rem 27.6rem;
      grid-template-areas:
        "Heading Heading Heading Heading"
        "Subtitle Subtitle Image Stats"
        "Border Border Border Border"
        "ContentPie ContentPie DiagramPie DiagramPie"
        "Tile1 Tile2 DiagramPie DiagramPie";
    }
  }
}

.area-fa-heading {
  grid-area: Heading;
}
.area-fa-image {
  grid-area: Image;
}
.area-fa-stats {
  grid-area: Stats;
}
.area-fa-tile2 {
  grid-area: Tile2;
}
.area-fa-tile1 {
  grid-area: Tile1;
}
.area-fa-subtitle {
  grid-area: Subtitle;
}
.area-fa-border {
  grid-area: Border;
}
.area-fa-content-pie {
  grid-area: ContentPie;
}
.area-fa-diagram-pie {
  grid-area: DiagramPie;
}
