@layer base {
  @variants responsive {
    .how-crm-helps-video-grid-mobile {
      max-width: 50rem;
      grid-template-areas:
        "HowCRMHelpsTitle"
        "HowCRMHelpsText"
        "YoutubeVideoArea";
    }
    .how-crm-helps-video-grid-tablet {
      grid-template-columns: 67.2rem;
      max-width: none;
      grid-template-areas:
        "HowCRMHelpsTitle"
        "HowCRMHelpsText"
        "YoutubeVideoArea";
    }
    .how-crm-helps-video-grid-web {
      grid-template-columns: 44.4rem 10.8rem 53.6rem;
      grid-template-areas:
        "HowCRMHelpsTitle HowCRMHelpsTitle HowCRMHelpsTitle"
        "HowCRMHelpsText . YoutubeVideoArea"
        "HowCRMHelpsText . YoutubeVideoArea";
    }
    .how-crm-helps-video-grid-webhd {
      grid-template-columns: 53.6rem 15.4rem 67.4rem;
      grid-template-areas:
        "HowCRMHelpsTitle HowCRMHelpsTitle HowCRMHelpsTitle"
        "HowCRMHelpsText . YoutubeVideoArea"
        "HowCRMHelpsText . YoutubeVideoArea";
    }
    .area-how-crm-helps-video-title {
      grid-area: HowCRMHelpsTitle;
    }
    .youtube-video-area {
      grid-area: YoutubeVideoArea;
    }
    .area-how-crm-helps-video-text {
      grid-area: HowCRMHelpsText;
    }
  }
}
