@layer base {
  @variants responsive {
    .area-our-approach-title {
      grid-area: OurApproachTitle;
    }
    .area-our-approach-center {
      grid-area: OurApproachCenter;
    }
    .area-our-approach-tile-1 {
      grid-area: OurApproachTile1;
    }
    .area-our-approach-tile-2 {
      grid-area: OurApproachTile2;
    }
    .area-our-approach-tile-3 {
      grid-area: OurApproachTile3;
    }
    .area-our-approach-tile-4 {
      grid-area: OurApproachTile4;
    }

    .our-approach-grid-mobile {
      max-width: 50rem;
      grid-template-areas:
        "OurApproachTitle"
        "OurApproachCenter"
        "OurApproachTile1"
        "OurApproachTile2"
        "OurApproachTile3"
        "OurApproachTile4";
    }

    .our-approach-grid-tablet {
      max-width: 66.8rem;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "OurApproachTitle OurApproachTitle"
        "OurApproachTile1 OurApproachTile2"
        "OurApproachTile3 OurApproachTile4";
    }

    .our-approach-grid-web {
      max-width: none;
      grid-template-columns: 108.8rem;
      grid-template-rows: auto 108.4rem;
      grid-template-areas:
        "OurApproachTitle"
        ".";
    }

    .our-approach-grid-webhd {
      max-width: none;
      grid-template-columns: 166.4rem;
      grid-template-rows: auto 139.8rem;
      grid-template-areas:
        "OurApproachTitle"
        ".";
    }

    .tile-image {
      width: 11.5rem;
      height: 11.5rem;
    }

    .tile-image-web {
      width: 35.2rem;
      height: 35.2rem;
    }
  }
}
