.modal-search-filter {
  position: relative;
  top: 125px;
  bottom: 40px;
  left: 0;
  height: calc(100vh - 165px);
  max-width: 840px;
  border-radius: 15px;
  background-color: #f0f0f1;
  margin: 0 auto;
}

.modal-search-filter:focus {
  outline: none;
}

.modal-search-filter-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-right: 10px;
  padding-left: 10px;
  z-index: 90;
  backdrop-filter: blur(5px);
  filter: drop-shadow(0px 18px 40px rgba(0, 0, 0, 0.3));
}

.modal-search-filter-container {
  height: 100%;
  margin-left: auto;
  width: 100%;
  margin-right: auto;
  background-color: #ffffff;
  box-shadow: 0px 18px 40px -12px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  @apply relative overflow-y-auto;
}

.modal-search-filter-content {
  height: 100%;
  padding-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
  display: grid;
}

.modal-search-filter-text ul {
  @apply list-disc grid justify-items-center;
}

.modal-search-filter-close-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #af0000;
  width: 50px;
  height: 50px;
  border-top-right-radius: 15px;
  z-index: 91;
}

.modal-search-filter-close-button:before {
  content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNCAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE0IDEuNDFMMTIuNTkgMEw3IDUuNTlMMS40MSAwTDAgMS40MUw1LjU5IDdMMCAxMi41OUwxLjQxIDE0TDcgOC40MUwxMi41OSAxNEwxNCAxMi41OUw4LjQxIDdMMTQgMS40MVoiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPg==");
  position: absolute;
  width: 14px;
  height: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 93;
}

.modal-search-dropdown-text {
  line-height: 11px !important;
  font-size: 11px !important;
}

.modal-search-filter-input {
  font-family: "Rosario" !important;
}
