.phone-input .flag-dropdown {
  display: none;
}

.phone-input .form-control {
  height: var(--height);
  border-color: var(--border-color);
  @apply tracking-wider text-body border w-full pr-16px pl-25px md:pl-30px rounded-full focus-visible:outline-none;
}

.phone-input .form-control:hover {
  border-color: var(--border-color-hover);
}

.phone-input .form-control:focus-visible {
  border-color: var(--border-color-hover);
}
