@layer base {
  @variants responsive {
    .hero-contact-grid-mobile {
      grid-template-columns: minmax(25rem, 40rem);
      grid-template-rows: 13.3rem auto 22.6rem 7rem 7rem 7rem 7rem 7rem 7rem 7rem;
      grid-template-areas:
        "HeroContactTitle"
        "HeroContactSubtitle"
        "."
        "HeroContactFirstName"
        "HeroContactLastName"
        "HeroContactBusiness"
        "HeroContactPhoneNumber"
        "HeroContactEmail"
        "HeroContactRequired"
        "HeroContactSubmit";
    }

    .hero-contact-grid-tablet {
      grid-template-columns: minmax(25rem, 32.8rem) 1.6rem minmax(25rem, 32.8rem);
      grid-template-rows: minmax(8rem, 12rem) 17rem 7rem 7rem 10.7rem 5.5rem;
      grid-template-areas:
        "HeroContactTitle HeroContactTitle HeroContactTitle"
        "HeroContactSubtitle HeroContactSubtitle HeroContactSubtitle"
        "HeroContactFirstName . HeroContactLastName"
        "HeroContactBusiness . HeroContactPhoneNumber"
        "HeroContactEmail HeroContactEmail HeroContactEmail"
        "HeroContactRequired . HeroContactSubmit";
    }

    .hero-contact-web-grid {
      grid-template-columns: minmax(auto, 55.3rem) 26rem 1.6rem 26rem;
      grid-template-rows: 7.5rem 11rem 7rem 7rem 11rem 5.5rem;
      grid-template-areas:
        ". HeroContactTitle HeroContactTitle HeroContactTitle"
        ". HeroContactSubtitle HeroContactSubtitle HeroContactSubtitle"
        ". HeroContactFirstName . HeroContactLastName"
        ". HeroContactBusiness . HeroContactPhoneNumber"
        ". HeroContactEmail HeroContactEmail HeroContactEmail"
        ". HeroContactRequired . HeroContactSubmit";
    }

    .hero-contact-webhd-grid {
      grid-template-columns: minmax(auto, 83rem) 39.8rem 1.6rem 39.8rem;
      grid-template-rows: 7.5rem 11rem 7rem 7rem 10.5rem 5.5rem;
      grid-template-areas:
        ". HeroContactTitle HeroContactTitle HeroContactTitle"
        ". HeroContactSubtitle HeroContactSubtitle HeroContactSubtitle"
        ". HeroContactFirstName . HeroContactLastName"
        ". HeroContactBusiness . HeroContactPhoneNumber"
        ". HeroContactEmail HeroContactEmail HeroContactEmail"
        ". HeroContactRequired . HeroContactSubmit";
    }

    .hero-contact-title-area {
      grid-area: HeroContactTitle;
    }
    .hero-contact-subtitle-area {
      grid-area: HeroContactSubtitle;
    }
    .hero-contact-first-name-area {
      grid-area: HeroContactFirstName;
    }
    .hero-contact-last-name-area {
      grid-area: HeroContactLastName;
    }
    .hero-contact-business-area {
      grid-area: HeroContactBusiness;
    }
    .hero-contact-phone-number-area {
      grid-area: HeroContactPhoneNumber;
    }
    .hero-contact-email-area {
      grid-area: HeroContactEmail;
    }
    .hero-contact-required-area {
      grid-area: HeroContactRequired;
    }
    .hero-contact-submit-area {
      grid-area: HeroContactSubmit;
    }

    .hero-contact-height-tablet {
      height: calc(100vh + 73px);
    }

    .hero-contact-height-web {
      height: calc(100vh + 90px);
    }

    .hero-contact-height-webhd {
      height: calc(100vh + 117px);
    }
  }
}
